---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          <span class="post-meta">
            {{ post.short_description }}
          </span>
          <div class="clearfix"></div>
          <span class="post-date">
            on {{ post.date | date: date_format }}
          </span>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.twitter_ref_src and site.twitter_username and site.show_twitter_feed -%}
    <h2 class='post-list-heading'>Twitter Feeds</h2>

    <a data-chrome="{{ site.twitter_feed_setting | default: 'noheader, noscrollbar, nofooter, noborders' }}" data-tweet-limit="{{ site.tweets_limit | default: 3 }}" data-dnt="true"  class="twitter-timeline" href="https://twitter.com/{{ site.twitter_ref_src }}">
    </a>

    <center>
      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Load more tweets</a>
    </center>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {%- endif -%}
</div>
